<!DOCTYPE html>
<html>
<head>
	<title> Kusa wwr2</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<h1> Kusa wwr2 </h1>
	<p> my grandma makes it tq3 5l3 10/10 would recommend </p>
	 <h2> Favorite Food: </h2>
<!-- 	{% if no_food == True %}
                <p> I have no favorite food! But, I like: </p>
            {% else %}
                <p> I have a favorite food! It is: </p>
            {% endif %}
           
  			 <!-- Previous --> for-loop -->

</body>
</html>